/* ==========================================================================
   #BULLET-LIST
   ========================================================================== */

.bullet-list {

  > * {
    display: flex;
    align-items: baseline;

    &::before {
      content: '';
      position: relative;
      top: -0.08em;
      flex: none;
      display: block;
      width: 15px;
      height: 15px;
      margin-right: 30px;
      background-color: $bg-red;
    }
  }
}