/* ==========================================================================
   #MODAL
   ========================================================================== */

.modal {
  z-index: 1000;
  max-width: 1240px;
  width: 98%;
  padding: 0;
  background: #fff;
  border-radius: 0;
  box-shadow: $shadow;

  @include for-size(xs-only) {
    width: 100%;
  }
}

.modal__content {
  position: relative;
}

.blocker {
  z-index: 999;
  background-color: rgba(0,0,0,0.35);

  @include for-size(xs-only) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.modal__head {
  position: relative;
  padding: 16px 64px 16px 16px;
  height: 44px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: 0.25s ease;
  }
}

.modal__close::before,
.modal__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  border-top: 2px solid #000;
  pointer-events: none;
}

.modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__body {
  padding: 60px 24px 40px 24px;

  @include for-size(md-up) {
    padding: 60px 30px 40px 30px;
  }

  @include for-size(lg-up) {
    padding-top: 80px;
  }

  @include for-size(xl-up) {
    padding-top: 100px;
  }
}
