/* ==========================================================================
   #MODAL
   ========================================================================== */

.modal {
  z-index: 2;
  max-width: 1240px;
  width: 98%;
  padding: 0;
  background: #fff;
  border-radius: 0;
  box-shadow: $shadow;

  @include for-size(xs-only) {
    width: 100%;
  }
}

.blocker {
  background-color: rgba(0,0,0,0.35);
}

.modal__head {
  position: relative;
  padding: 16px 64px 16px 16px;
  height: 44px;
}

.modal__close {
  position: absolute;
  top: 4px;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;

  @media (min-width: 48em) {
    right: 15px;
    top: 10px;
  }

  &:hover {
    opacity: 0.7;
    transition: 0.25s ease;
  }
}

.modal__close::before,
.modal__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  border-top: 2px solid #000;
}

.modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__body {
  padding: 24px 24px 40px 24px;

  @media (min-width: 48em) {
    padding: 24px 30px 40px 30px;
  }
}
