/* ==========================================================================
   #CAUSES
   ========================================================================== */

.causes {
  padding-top: rem(30px);
  padding-bottom: rem(60px);
  
  @include for-size(lg-up) {
    padding-top: rem(100px);
    padding-bottom: rem(100px);
  }
}

.causes__title {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.causes-charts {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(-30px);
  margin-bottom: rem(50px);
  margin-bottom: rem(70px);
  margin-left: -8px;
  margin-right: -8px;
}

.causes-charts__item {
  width: 100%;
  text-align: center;
  margin-top: rem(30px);
  padding-left: 8px;
  padding-right: 8px;

  @include for-size(sm-up) {
    width: 50%;
  }

  @include for-size(md-up) {
    width: 25%;
  }
}

.causes-charts__graph {
  width: 187px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(20px);
  background-color: red;

  @include for-size(lg-up) {
    margin-bottom: rem(36px);
  }

  @include for-size(xl-up) {
    width: 272px;
  }
}

.arc-graph {
  position: relative;
  border-radius: 50%;

  &::before {
    content: '';
    float: left;
    padding-top: 100%;
  }

  &::after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.arc-graph__value {
  @include centered;
  font-weight: bold;
  font-size: 45px;
  font-size: 58px;
}

.causes-charts__name {
  font-weight: 600;
  font-size: rem(24px);
  text-transform: none;

  @include for-size(xl-up) {
    font-size: rem(28px);
  }
}

.causes__foot {
  text-align: center;
  text-transform: uppercase;

  @include for-size(lg-up) {
    font-size: calc(1rem + 1.11vw);
  }

  @include for-size(xl-up) {
    font-size: rem(32px);
  }
  
}

.causes__notes {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(40px);

  @include for-size(lg-up) {
    margin-bottom: rem(70px);
  }
}

.causes__link {
  font-weight: 600;
}



