/* ==========================================================================
   #DRUGS
   ========================================================================== */

.drugs {
  padding-top: rem(50px);
  padding-bottom: rem(50px);
  box-shadow: 0 0 30px rgba(#000, 0.1);

  @include for-size(xl-up) {
    padding-top: rem(100px);
    padding-bottom: rem(100px);
  }
}

.drugs__heading {
  margin-bottom: rem(170px);
  font-size: calc(1rem + 5.3125vw);
  text-align: center;
  
  @include for-size(sm-up) {
    font-size: calc(1rem + 2vw);
  }

  @include for-size(xl-up) {
    font-size: rem(62px);
    margin-bottom: rem(220px);
  }
}

.drugs-list {
  margin-top: rem(-38px);
  margin-bottom: 18px;

  @include for-size(xl-up) {
    margin-top: rem(-48px);
    margin-bottom: 28px;
  }
}

.drugs-item {
  position: relative;
  width: 100%;
  max-width: 1204px;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(38px);
  padding: rem(30px 24px 24px 24px);
  border-bottom: 12px solid $grey-border;
  font-weight: 600;
  font-size: calc(1rem + 0.625vw);
  
  text-align: center;
  background-color: #fff;
  box-shadow: $shadow;
  z-index: 1;

  @include for-size(lg-up) {
    padding: rem(56px 52px 52px 52px);
  }

  @include for-size(xl-up) {
    margin-top: rem(48px);
    padding: rem(56px 52px 52px 52px);
    border-bottom: 15px solid $grey-border;
    font-size: rem(36px);
  }
}

.drugs-item:first-of-type {
  padding-bottom: rem(15px);
  padding-top: 90px;

  @include for-size(lg-up) {
    padding-bottom: rem(30px);
    border-top: 15px solid $grey-border;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 0;
    height: 0;
    border-right: 95px solid transparent;
    border-top: 95px solid currentColor;
    border-left: 95px solid currentColor;
    border-bottom: 95px solid transparent;
    border-radius: 50%;

    @include for-size(lg-up) {
      content: none;
    }
  }
}

.drugs-item::after {
  content: '';
  position: absolute;
  top: calc(100% + 12px);
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-top: 18px solid $grey-border;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;

  @include for-size(lg-up) {
    border-top: 28px solid $grey-border;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
  }
}

.drugs-item__more {
  display: inline-block;
  margin-top: rem(15px);

  @include for-size(lg-up) {
    margin-top: rem(32px);
  }
}

.drugs-item__top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 190px;
  overflow: hidden;

  @include for-size(lg-up) {
    width: 250px;
    height: 125px;
    transform: translate(-50%, -100%);
  }
}

.drugs-item__top::before {
  

  @include for-size(lg-up) {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: $bg-grey;
    z-index: -1;
  }
}

.drugs-item__top::after {
  content: '';
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: calc(100% - 48px);
  padding-top: calc(100% - 48px);
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

  @include for-size(lg-up) {
    top: 15px;
    width: calc(100% - 30px);
    padding-top: calc(100% - 30px);
    transform: translate(-50%, 0);
  }
}

.drugs-item__top-text {
  @include centered;
  font-weight: bold;
  font-size: rem(55px);
  line-height: 1.15;
  letter-spacing: -0.075em;
  transform: translate(-50%, -50%);
  z-index: 2;

  @include for-size(lg-up) {
    font-size: rem(72px);
    transform: translate(-50%, -25%);
  }
}

.drugs-item--highlight {
  background-color: $bg-red;
  border-bottom-color: #c3283f;
  color: #fff;

  &::after {
    border-top-color: #c3283f;
  }
}


.drugs-features {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: rem(-20px);
  padding-top: 50px;

  @include for-size(md-up) {
    padding-top: 85px;
    top: -0.5rem;
  }
}

.drugs-features::before {

  @include for-size(md-up) {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 85px;
    border-left: 10px solid #eee;
  }
}

.drugs-features::after {
  

  @include for-size(md-up) {
    content: '';
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75%;
    height: 0;
    border-top: 10px solid #eee;
  }
}

.drugs-features__item {
  position: relative;
  width: 100%;
  margin-bottom: rem(20px);
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;

  @include for-size(md-up) {
    width: 25%;
    padding-top: 65px;
  }
}

.drugs-features__item::before {

  @include for-size(md-up) {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 75px;
    border-left: 10px solid #eee;
    z-index: -1;
  }
}

.drugs-features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 118px;
  margin-bottom: rem(20px);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-red;

  @include for-size(xl-up) {
    width: 160px;
    height: 160px;
    margin-bottom: rem(40px);
  }

  svg {
    transform: scale(0.75);

    @include for-size(xl-up) {
      transform: scale(1);
    }
  }
}

.drugs-features__item:nth-child(2n) .drugs-features__icon {
  background-color: $bg-grey;
}

.drugs-features__text {
  text-transform: none;
  overflow-wrap: break-word;

  @include for-size(xl-up) {
    font-size: rem(28px);
  }
}

.drugs-features__text--accent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(10px);
  text-transform: uppercase;
  font-weight: bold;
}