/* ==========================================================================
   #ETHOLOGY
   ========================================================================== */

.ethology {
  width: 100vw;
  padding-bottom: rem(70px);
  overflow-x: hidden;

  @include for-size(xl-up) {
    padding-bottom: rem(100px);
  }
}

.ethology__title {
  position: relative;
  margin-bottom: rem(50px);
  padding-top: 50px;

  @include for-size(md-up) {
    margin-bottom: 0;
  }
}

.ethology__title .title--smaller {
  margin-top: rem(20px);

  @include for-size(xl-up) {
    margin-top: rem(32px);
  }
}

.ethology__title::before {

  @include for-size(md-up) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 93%;
    border-top: 10px solid #eee;
    border-left: 10px solid #eee;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
  }
}

.ethology__title::after {

  @include for-size(md-up) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 93%;
    border-bottom: 10px solid #eee;
    border-left: 10px solid #eee;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
  }

  @include for-size(lg-up) {
    width: 24%;
  }
}

.ethology__title-arrow {
  display: none;

  @include for-size(md-up) {
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 17%;
    transform: translate(0, -50%);
  }

  @include for-size(lg-up) {
    left: 23.5%;
  }
}

.ethology-list {
  position: relative;

  @include for-size(md-up) {
    margin-top: -15px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 98px 46px 112px 46px;
    border-right: 10px solid #eee;
    border-bottom: 10px solid #eee;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.ethology-list::before {

  @include for-size(md-up) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 22%;
    height: 100px;
    transform: translate(10px, -10px);
    border-top: 10px solid #eee;
    border-right: 10px solid #eee;
    border-top-right-radius: 50px;
  }

  @include for-size(lg-up) {
    width: 26%;
  }
}

.ethology-list::after {

  @include for-size(md-up) {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200vw;
    height: 100px;
    transform: translate(10px, 10px);
    border-bottom: 10px solid #eee;
    border-right: 10px solid #eee;
    border-bottom-right-radius: 50px;
  }
}

.ethology-list__row {
  position: relative;

  @include for-size(md-up) {
    display: flex;
  }
}

.ethology-list__row + .ethology-list__row {
  margin-top: rem(33px);

  @include for-size(md-up) {
    margin-top: rem(56px);
  }
}

.ethology-list__row::before {

  @include for-size(md-up) {
    content: '';
    position: absolute;
    width: 70%;
    height: 100px;
    top: 50%;
    right: 0;
    transform: translate(-50px,-50%);
    background-color: rgba(#000, 0.02);
  }

  @include for-size(xl-up) {
    height: 120px;
    transform: translate(-60px,-50%);
  }
}

.ethology-list__row::after {
  

  @include for-size(md-up) {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 50px solid rgba(#000, 0.02);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }

  @include for-size(xl-up) {
    border-left: 60px solid rgba(#000, 0.02);
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
  }
}

.ethology-list__row--highlight {
  color: $highlight;
  font-weight: 900;

  &::before {
    background-color: rgba($bg-red, 0.05);
  }

  &::after {
    border-left-color: rgba($bg-red, 0.05);
  }
}

.ethology-list__row--even {
  

  @include for-size(md-up) {
    justify-content: flex-end;

    &::before {
      left: 0;
      right: auto;
      transform: translate(60px,-50%);
    }
  
    &::after {
      left: 0;
      right: auto;
      transform: translateY(-50%) rotate(0.5turn);
    }
  }
}


.ethology-item__inner {

  @include for-size(md-up) {
    display: flex;
    align-items: center;
  }
}

.ethology-item__number {
  margin-right: 32px;
  font-weight: bold;
  font-size: rem(60px);
  letter-spacing: -0.03em;
  display: none;

  @include for-size(md-up) {
    display: inline-block;
  }
}

.ethology-item__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: $font-secondary;
  font-size: rem(33px);
  background-color: #fff;

  @media (max-width: 899.98px) {
    position: relative;
    padding: rem(15px);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-bottom: 10px solid currentColor;

    .ethology-list__row--highlight & {
      border-bottom-color: $red-border;
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 10px);
      width: 0;
      height: 0;
      border-top: 14px solid currentColor;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      z-index: 1;
    }
  }

  @include for-size(xl-up) {
    font-size: rem(50px);
  }
}

.ethology-list__row--highlight .ethology-item__number
.ethology-list__row--highlight .ethology-item__text {
  @include gradient-text;
}

.ethology-item__arrow {
  position: relative;
  

  @include for-size(md-up) {
    width: 500px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: transparent;
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.25));
  }

  @include for-size(xl-up) {
    width: 608px;
    height: 120px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.ethology-item__arrow::before,
.ethology-item__arrow::after {
  

  @include for-size(md-up) {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
  }
}

.ethology-item__arrow::before {
  border-left: 50px solid transparent;
  border-top: 50px solid #fff;
  border-bottom: 50px solid #fff;

  @include for-size(xl-up) {
    border-left: 60px solid transparent;
    border-top: 60px solid #fff;
    border-bottom: 60px solid #fff;
  }
}

.ethology-item__arrow::after {
  left: auto;
  right: 0;
  border-left: 50px solid #fff;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;

  @include for-size(xl-up) {
    border-left: 60px solid #fff;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
  }
}

.ethology-item__tail {
  display: none;

  @include for-size(md-up) {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 120px;
    transform: translate(-16px, -50%);
  }

  @include for-size(xl-up) {
    height: auto;
    transform: translate(-8px, -50%);
  }
}

.ethology-item--reverse {

  .ethology-item__inner {
    flex-direction: row-reverse;
  }

  .ethology-item__number {
    margin-right: 0;
    margin-left: 32px;
  }

  .ethology-item__arrow::before {
    left: auto;
    right: 0;
    transform: translate(0, -50%) rotate(0.5turn);
  }

  .ethology-item__arrow::after {
    left: 0;
    right: auto;
    transform: translate(0, -50%) rotate(0.5turn);
  }
  

  .ethology-item__tail {
    right: 0;
    left: auto;
    transform: translate(16px, -50%) rotate(0.5turn);

    @include for-size(xl-up) {
      transform: translate(8px, -50%) rotate(0.5turn);
    }
  }
}


.ethology-details {
  position: relative;
  padding-top: 40px;
  overflow-wrap: break-word;

  @include for-size(md-up) {
    padding-top: 76px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 40px;
    border-left: 4px solid #eee;

    @include for-size(md-up) {
      border-left-width: 10px;
      height: 76px;
    }
  }
}

.ethology-details__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ethology-details__top {
  position: relative;
  width: 272px;
  margin-top: -5px;
  margin-bottom: rem(30px);
  overflow: hidden;

  &::before {
    content: '';
    float: left;
    padding-top: 50%;
  }

  &::after {
    content: ' ';
    display: block;
    clear: both;
  }

  @include for-size(md-up) {
    width: 482px;
    margin-bottom: rem(50px);
  }
}

.ethology-details__top-value {
  @include gradient-text;
  
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-45%, 15%);
  font-weight: bold;
  font-size: rem(80px);
  line-height: 1.15;
  letter-spacing: normal;

  @include for-size(md-up) {
    font-size: rem(160px);
  }
}

.ethology-details__top-arc {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  width: 98%;
  padding-top: 98%;
  border-radius: 50%;
  border: 4px solid #eee;
  border-bottom-style: dashed;
  border-left-style: dashed;
  transform: translate(-50%, 0) rotate(45deg);

  @include for-size(md-up) {
    border-width: 10px;
  }
}

.ethology-details__text-smaller {
  font-size: calc(1rem + 0.625vw);
  margin-bottom: rem(30px);
  
  @include for-size(sm-up) {
    font-size: calc(1rem + 0.97vw);
  }

  @include for-size(md-up) {
    margin-bottom: 1rem;
  }

  @include for-size(xl-up) {
    margin-bottom: rem(6px);
    font-size: rem(30px);
  }
}

.ethology-details__text-bigger {
  font-weight: bold;
  // font-size: calc(1rem + 5.3125vw);
  font-size: calc(1rem + 5vw);
  
  @include for-size(sm-up) {
    font-size: calc(1rem + 3.194vw);
  }

  @include for-size(xl-up) {
    font-size: rem(62px);
  }

  a {
    font-weight: normal;
  }
}