/* ==========================================================================
   #ETHOLOGY
   ========================================================================== */

.ethology {
  padding-bottom: rem(70px);

  @include for-size(xl-up) {
    padding-bottom: rem(100px);
  }
}

.ethology__title {
  position: relative;
  margin-bottom: rem(92px);
}

.ethology-list {
  margin-bottom: 100px;
}

.ethology-list__row {
  position: relative;
  display: flex;
}

.ethology-list__row + .ethology-list__row {
  margin-top: rem(56px);
}

.ethology-list__row::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 120px;
  top: 50%;
  right: 0;
  transform: translate(-60px,-50%);
  background-color: rgba(#000, 0.02);
}

.ethology-list__row::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 60px solid rgba(#000, 0.02);
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
}

.ethology-list__row--highlight {
  color: $highlight;
  font-weight: 900;

  &::before {
    background-color: rgba($bg-red, 0.05);
  }

  &::after {
    border-left-color: rgba($bg-red, 0.05);
  }
}

.ethology-list__row--even {
  justify-content: flex-end;

  &::before {
    left: 0;
    right: auto;
    transform: translate(60px,-50%);
  }

  &::after {
    left: 0;
    right: auto;
    transform: translateY(-50%) rotate(0.5turn);
  }
}


.ethology-item__inner {
  display: flex;
  align-items: center;
}

.ethology-item__number {
  margin-right: 32px;
  font-weight: bold;
  font-size: rem(60px);
  letter-spacing: -0.03em;
}

.ethology-item__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: $font-secondary;
  font-size: rem(50px);
  background-color: #fff;
}

.ethology-list__row--highlight .ethology-item__number
.ethology-list__row--highlight .ethology-item__text {
  @include gradient-text;
}

.ethology-item__arrow {
  position: relative;
  width: 608px;
  height: 120px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: transparent;
  filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.25));
}

.ethology-item__arrow::before,
.ethology-item__arrow::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 0;
  height: 0;
}

.ethology-item__arrow::before {
  border-left: 60px solid transparent;
  border-top: 60px solid #fff;
  border-bottom: 60px solid #fff;
}

.ethology-item__arrow::after {
  left: auto;
  right: 0;
  border-left: 60px solid #fff;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
}

.ethology-item__tail {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-8px, -50%);
}

.ethology-item--reverse {

  .ethology-item__inner {
    flex-direction: row-reverse;
  }

  .ethology-item__number {
    margin-right: 0;
    margin-left: 32px;
  }

  .ethology-item__arrow::before {
    left: auto;
    right: 0;
    transform: translate(0, -50%) rotate(0.5turn);
  }

  .ethology-item__arrow::after {
    left: 0;
    right: auto;
    transform: translate(0, -50%) rotate(0.5turn);
  }
  

  .ethology-item__tail {
    right: 0;
    left: auto;
    transform: translate(8px, -50%) rotate(0.5turn);
  }
}


.ethology-details {
  position: relative;
  padding-top: 76px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 76px;
    border-left: 10px solid #eee;
  }
}

.ethology-details__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ethology-details__top {
  position: relative;
  width: 482px;
  margin-top: -5px;
  margin-bottom: rem(50px);
  overflow: hidden;

  &::before {
    content: '';
    float: left;
    padding-top: 50%;
  }

  &::after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.ethology-details__top-value {
  @include gradient-text;
  
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-45%, 15%);
  font-weight: bold;
  font-size: rem(160px);
  line-height: 1.15;
  letter-spacing: normal;
}

.ethology-details__top-arc {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  width: 98%;
  padding-top: 98%;
  border-radius: 50%;
  border: 10px solid #eee;
  border-bottom-style: dashed;
  border-left-style: dashed;
  transform: translate(-50%, 0) rotate(45deg);
}

.ethology-details__text-smaller {
  font-size: calc(1rem + 0.625vw);
  
  @include for-size(sm-up) {
    font-size: calc(1rem + 0.97vw);
  }

  @include for-size(xl-up) {
    margin-bottom: rem(6px);
    font-size: rem(30px);
  }
}

.ethology-details__text-bigger {
  font-weight: bold;
  font-size: calc(1rem + 5.3125vw);
  
  @include for-size(sm-up) {
    font-size: calc(1rem + 3.194vw);
  }

  @include for-size(xl-up) {
    font-size: rem(62px);
  }

  a {
    font-weight: normal;
  }
}