/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
  background-color: #fff;
}

.header__row {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 12px 15px;
}