/* ==========================================================================
   #RESEARCH
   ========================================================================== */

.research {
  padding-top: rem(50px);
  padding-top: rem(100px);
  padding-bottom: 30px;
  padding-bottom: 75px;
}

.research__title {
  margin-bottom: rem(80px);
}

.research-row {
  display: flex;
  flex-wrap: wrap;
}

.research-col--left {
  width: 100%;

  @include for-size(lg-up) {
    width: 60%;
    padding-right: 72px;
  }
}

.research-col--right {
  width: 100%;

  @include for-size(lg-up) {
    width: 40%;
  }
}

.research-graph {
  text-transform: none;
  font-weight: 600;

  .graph {
    height: 260px;

    @include for-size(lg-up) {
      height: 360px;
    }

    @include for-size(xl-up) {
      height: 530px;
    }
  }

  .graph__aside {
    padding-left: 20px;
    font-size: rem(14px);

    @include for-size(lg-up) {
      font-size: rem(20px);
      padding-left: 45px;
    }

    @include for-size(xl-up) {
      font-size: rem(26px);
    }
  }

  .graph__scale {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    font-size: rem(14px);

    @include for-size(lg-up) {
      margin-top: -1rem;
      margin-bottom: -1rem;
      font-size: rem(20px);
    }

    @include for-size(xl-up) {
      font-size: rem(26px);
    }
  }

  .graph__bar--1 {
    height: 82%;
  }

  .graph__bar--2 {
    height: 52%;
    background-color: $bg-grey;
  }

  .graph__foot {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;

    @include for-size(sm-up) {
      display: flex;
      margin-left: 140px;
    }

    @include for-size(lg-up) {
      margin-top: 45px;
      margin-bottom: 50px;
    }

    >* {

      @include for-size(sm-up) {
        flex-grow: 1;
        justify-content: center;
      }

      &::before {
        margin-right: 20px;

        @include for-size(sm-up) {
          content: none;
        }
      }

      &:first-child::before {
        background-color: $bg-red-light;
      }

      &:last-child::before {
        background-color: $bg-grey;
      }
    }

    >* + * {
      
      @include for-size(xs-only) {
        margin-top: 10px;
      }
    }
  }
}

.research-chart__desc {
  text-transform: none;
  margin-bottom: 20px;

  @include for-size(lg-up) {
    margin-bottom: 0;
    margin-left: 140px;
    text-align: center;
    font-weight: 600;
  }
}

.research-list {
  text-transform: none;
  line-height: 1.5;

  @include for-size(xl-up) {
    font-size: rem(32px);
  }

  >*+* {
    margin-top: 20px;

    @include for-size(xl-up) {
      margin-top: 87px;
    }
    
  }
}